<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
    <!-- Add any styles or links to stylesheets here -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>AGENDA - {{ current_date }}</h1>
        {% for location, events in events_by_location.items() %}
            <h2 class="location-header">{{ location }}</h2>
            {% for event in events %}
                <div class="event">
                    <div class="event-summary">{{ event.summary }}</div>
                    <div class="event-time">{{ event.start.strftime('%H:%M') }} - {{ event.end.strftime('%H:%M') }}</div>
                </div>
            {% endfor %}
        {% else %}
            <div>No events today.</div>
        {% endfor %}
    </div>
    <!-- Logo at the bottom -->
    <div class="logo-container">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
    </div>
</body>
</html>
