<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
    <link rel="stylesheet" type="text/css" href="https://servicos.educorp.unicamp.br/static/css/style.css">
    <script src="https://servicos.educorp.unicamp.br/static/js/reload.js"></script>
</head>
<body>
    <div class="container">
        <h1>AGENDA - {{ current_date }}</h1>
        <hr>

        {% if events_by_location %}
            {% for location, events in events_by_location.items() %}
                <h2 class="location-header">{{ location }}</h2>
                {% for event in events %}
                    <div class="event">
                        <div class="event-summary">{{ event.summary }}</div>
                        <div class="event-time">{{ event.start.strftime('%H:%M') }} - {{ event.end.strftime('%H:%M') }}</div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% else %}
            <div>Sem eventos hoje.</div>
        {% endif %}
    </div>

    <!-- Logo at the bottom -->
    <div class="logo-container">        
        <img src="https://servicos.educorp.unicamp.br/static/logo.png" alt="Logo"> 
    </div>
</body>
</html>
