<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
    <!-- Add any styles or links to stylesheets here -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>AGENDA - {{ current_date }}</h1>
        <div id="events">
            {% for event in all_events %}
            <div class="event">
                <div class="event-summary">{{ event.summary }}</div>
                <div class="event-time">{{ event.start.strftime('%H:%M') }} até {{ event.end.strftime('%H:%M') }}</div>
                <div class="event-location">{{ event.location }}</div>
            </div>
            {% else %}
            <div>No events today.</div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
